<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('bundles/css/bootstrap.min.css') }}">
    {% endblock %}
</head>
<body>
<header class="header">
    <img class="header__img img-responsive" src="{{ asset('bundles/img/image-header-louvre.png') }}" alt="">
    <div class="header__title">
        <p>Reservez votre billet a l'avance</p>
    </div>
</header>
{% block body %}

{% endblock %}

<section>
    <img class="img-responsive" src="{{ asset('bundles/img/background-louvre.jpeg') }}" alt="">
</section>

{% block javascripts %}
    <script src="{{ asset('bundles/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>